body {
    padding: 0;
    margin: 0;
}

.title {
    text-align: center;
    font-size: 100px;
    -webkit-background-clip: text;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    border-bottom: 1px solid transparent;
}

.title:hover {
    background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.2, #ff2), color-stop(0.3, #22f), color-stop(0.4, purple), color-stop(0.5, #aaa), color-stop(0.6, #2f2), color-stop(0.75, #ff2), color-stop(0.9, #ff2), color-stop(1, #f22));
    background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.2, #ff2), color-stop(0.3, #22f), color-stop(0.4, purple), color-stop(0.5, #aaa), color-stop(0.6, #2f2), color-stop(0.75, #ff2), color-stop(0.9, #ff2), color-stop(1, #f22));
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    animation: title-rainbow;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes title-rainbow {
    from {
        width: 70%;
    }
    to {
        width: 100%;
    }
}

.expanding-link {
    width: 200px;
    height: 200px;
    transition: width 1s, height 1.5s, border 1s, box-shadow 3s;
    padding: 30px;
    border: 3px solid #eee;
    border-radius: 50px;
    font-size: 20px;
    text-align: center;
}

.expanding-link:hover {
    width: 300px;
    height: 300px;
    border: 1px solid black;
    box-shadow: 4px 4px 0px 1px #eee;
    font-size: 25px;
}

.links {
    display: flex;
    justify-content: space-around;
}

.item-list {
    padding: 50px;
    padding-top: 0px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.item-list > .item {
    width: 300px;
    padding: 30px;
    background-color: #efefef;
    border: 1px solid #eaeaea;
    border-radius: 15px;
    min-height: 150px;
    text-decoration: none;
    color: black;
    margin-bottom: 50px;
}

.item-list > .item:hover {
    transform: scale(1.01);
}

.item-list > .item > .description {
    font-size: 20px;
}

.item-list > .item > .link {
    font-size: 30px;
    text-align: center;
}

.example {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 20px;
}

.example .description {
    font-size: 20px;
    margin: 20px;
}

.example .full {
    width: 100%;
}

.example .half {
    width: 50%;
    overflow-x: hidden;
}

.example .demo .btn {
    margin-left: 30%;
    margin-top: 20%;
}

.example .demo .action {
    cursor: pointer;
    border: 1px solid #eee;
    padding: 10px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.example .demo .target {
    width: 100%;
    margin: 10px;
    text-align: center;
}

.featured {
    position: absolute;
    display: flex;
    flex-flow: column nowrap;
    top: 0;
    right: 0;
}

.featured .feature {
    text-align: left;
    font-size: 20px;
    margin: 5px;
    background-color: #eee;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    text-decoration: none;
    color: black;
}

.featured .feature.important {
    animation: important-feature;
    animation-duration: 200ms;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes important-feature {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.02);
        border: 1px solid red;
    }
}

.featured .feature:hover {
    transform: scale(1.01);
}

.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .5rem 1rem;
    font-size: 1rem;
    border-radius: .25rem;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.btn-primary {
    color: #fff;
    background-color: #0275d8;
    border-color: #0275d8;
    text-decoration: none;
}

.btn:hover {
    animation: goto-button-animation;
    animation-direction: reverse;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-iteration-count: 3;
}

@keyframes goto-button-animation {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.2);
    }
}