body {
    padding: 0;
    margin: 0;
}

.title {
    text-align: center;
    font-size: 100px;
    -webkit-background-clip: text;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.title:hover {
    background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2), color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22));
    background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2), color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22));
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.expanding-link {
    width: 200px;
    height: 200px;
    transition: width 1s, height 1.5s, border 1s, box-shadow 3s;
    padding: 30px;
    border: 3px solid #eee;
    border-radius: 50px;
    font-size: 20px;
    text-align: center;
}

.expanding-link:hover {
    width: 300px;
    height: 300px;
    border: 1px solid black;
    box-shadow: 4px 4px 0px 1px #eee;
    font-size: 25px;
}

.links {
    display: flex;
    justify-content: space-around;
}