.projects {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
}

.projects .project {
    width: 152px;
    height: 200px;
    border: 3px solid black;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 75px;
    border-bottom-right-radius: 75px;
    margin: 30px;
    cursor: pointer;
    color: black;
    transition: all 100ms;
}

.projects .project:hover {
    transform: scale(1.05);
    box-shadow: 5px 5px 20px 1px #eee;
    color: white;
}

.projects .project {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.projects a:nth-child(2n):hover .project {
    background-color: lightsalmon;
}

.projects a:nth-child(2n + 1):hover .project {
    background-color: indianred;
}

.projects a:nth-child(3n):hover .project {
    background-color: lightseagreen;
}

.projects a {
    text-decoration: none;
}