body {
background-image: url(https://s-media-cache-ak0.pinimg.com/originals/32/81/09/3281093ab45ded7b7ad91ac591ed0854.jpg);
background-color: #70C1E2;
background-attachment: fixed;
background-repeat: repeat-x;
background-position: left bottom;
font-family:arial;
margin: 0px;
}

.box{
margin: 0 auto;
width: 1340px;
height: 300px;
margin-top: 80px;
background: rgba(255, 255, 255, 0.31);
border: 1px solid rgba(0, 0, 0, 0.12);
border-radius: 5px;
padding: 10px;
box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.1) inset;
font-size: 12px;
font-weight: bold;
color: rgb(85, 113, 133);
text-shadow: 0px -1px 0px rgba(255, 255, 255, 0.47);
}

#submenu{
text-align:right;
background: #4794ba;
box-shadow: 1px 1px 0px rgb(140, 200, 247) , 0px 0px 5px rgba(0, 0, 0, 0.29) inset;
border: 1px solid rgba(0, 0, 0, 0.19);
height: 80px;
line-height: 30px;
}

#submenu a{
text-decoration: none;
font-weight: bold;
font-size: 11pt;
color: #47a1ce;	
background:#1070A0;
border-radius:3px;
border:1px solid #0e4c6b;
padding:4px;
}

#submenu a:hover{
color: #1cc51c;
background:#149a14;
border-radius:3px;
border:1px solid #006600;
padding:4px;
box-shadow: 0px 0px 5px #095609; 
transition:0.3s
}
.bar {
display: inline-block;
color: #272727;
padding: 5px;
margin-left: 5px;
width: 1px!important;
margin-top: -10px;
font-weight: 400;
}
.bar2 {
display: inline;
color: #565454;
position: relative;
left: -5px;
}

#submenu a img{
position: relative;
top: 2px;
padding-right: 3px;
}

.footer {
  position: relative;
  right: 0;
  bottom: -330;
  left: 0;
  padding: 1rem;
  font-weight: bold;
  font-size: 11pt;
  background-color: #4794ba;
  box-shadow: 1px 1px 0px rgb(140, 200, 247) , 0px 0px 5px rgba(0, 0, 0, 0.29) inset;
  border: 1px solid rgba(0, 0, 0, 0.19);
  text-align: center;
}

.footer a {
text-decoration: none;
font-weight: bold;
font-size: 11pt;
color: #244d4d;
}