h1.titlu
{
    text-align: center;
    margin-top: 30px;
    font-size: 60px;
}
ul
{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 45px;
    text-align: center;
    margin-top: -20px
    
}
li
{
    display: inline;
    margin-left: 35px;
}
a:link,a:visited
{
    text-align: center;
    background: white;
    color:black;
    padding: 5px;
    font-weight: bold;
    text-decoration: none;
}
a:hover,a:active
{
    background-color: white;
}
hr
{
    width: 1065px;
    margin-left: 100px;
    color: black;
    background: black;
    height: 1px;
}
img.im1
{
    margin-left: 130px;
    margin-top: 30px;
}
p.tx1
{
    margin-left: 250px;
}
.chenar
{
    width: 800px;
    border: 1px solid black;
    height: 150px;
    background-color: black;
}
h1.tx2
{
    font-size: 60px;
    margin-top: -190px;
    margin-left: 150px;
    color: white;
}
p.tx3
{font-family: }
div.img2
{
    margin-left: 30px;
}
div.img3
{
    margin-left: 900px;
    margin-top: -294px;
}
div.img4
{
    margin-left: 430px;
    margin-top: -200px;
}